# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea/
.vs/
*.swp

# CMake
cmake-build-debug/

# Windows
build_win/
build/
build_win/

# Documentation files
/Team12/Code12/docs/doxygen/


# .DS_Store
**/.DS_Store

# Test output
Team12/Code12/tests/output